{% extends '../mainapp/index.html' %}

{% block content %}	
<link rel="stylesheet" href="../static/main.css">
    <div class="containers">
        <div class="lbl-menu">
            <label for="radio1">POPAYÁN</label>
            <label for="radio2">PURACÉ</label>
            <label for="radio3">TIERRADENTRO</label>
            <label for="radio4">SOTARÁ</label>
            <label for="radio5">TOTORÓ</label>
            <label for="radio6">SILVIA</label>
        </div>
        
        <div class="contents">
           
            <input type="radio" name="radio" id="radio1" checked>
            <div class="tab1">
                    <p>Capital del departamento del Cauca una de las ciudades más antiguas y mejor conservadas de América, lo que se ve reflejado en su arquitectura y tradiciones religiosas, reconocida por su arquitectura colonial y el cuidado de las fachadas, Popayán tiene uno de los centros históricos coloniales más grandes del país y América, con un total aproximado de 236 manzanas de sector histórico, se ha incursionado en las actividads culturales que aportan a la ciudad.<br>
                       Ven y disfruta de los planes que la ciudad te ofrece</p>
                <section class="sliders">
                    <ul>
                        <li>
                            <img src="../static/DondeIr/tulcan.png" >
                        </li>
                        <li>
                            <img src="../static/DondeIr/popav.jpg">
                        </li>
                        <li>
                            <img src="../static/DondeIr/Santa.png">
                        </li>
                        <li>
                            <img src="../static/DondeIr/puente.png">
                        </li>
                        
                    </ul>    
                </section>   
                <table class="table-popayan">
                        <thead>
                        <tr>
                            <th scope="col">Actividad</th>
                            <th colspan="3"></th>
                            <th scope="col">Ubicación</th>
                            <th colspan="3"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>  
                                <td>Recorrido por el parque Caldas</td>
                                <td colspan="3"></td>
                                <td> Centro de la ciudad</td>
                                <td colspan="3"></td>
                            </tr>
                        
                            <tr>
                                <td>Caminata puente del humilladero</td>
                                <td colspan="3"></td>
                                <td> Cra. 5 #1-28, Centro</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td>Caminata morro del Tulcan</td>
                                <td colspan="3"></td>
                                <td> Cl. 1a, Popayán</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>    
                                <td>Visita Museo Casa Mosquera</td>
                                <td colspan="3"></td>
                                <td>Cl. 3 #5-14, Centro</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>    
                                <td>Catedral Nuestra Señora de la Asunción</td>
                                <td colspan="3"></td>
                                <td>Cl. 5a, Centro</td>
                            </tr>           
                            <tr>    
                                <td>Parroquia Santo Domingo</td>
                                <td>Cl 4 #4-15 </td>
                            </tr>
                        </tbody>
                    </table> <br>
                    <table class="table-popayan">
                        <thead>
                        <tr>
                            <th scope="col">Otras Experiencias</th>
                            <th scope="col">Detalle</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>La Semana Santa</td>
                                <td>Principalmente las procesiones por los distintos lugares de la ciudad con las imagenes representativas</td>
                            </tr>
                            <tr>
                                <td>Congreso Nacional Gastronómico</td>
                                <td>Espacio académico, cultural y representativo de las cocinas tradicionales</td>
                            </tr> 
                            <tr>
                                <td>Doña chepa</td>
                                <td>Empresa Aplanchados Doña Chepa, variedad de olores y sabores maravillosos, lugar que hace parte de la cultura e historia gastronómica de la ciudad (Cl 2 #4-46, Centro, Popayán)</td>
                            </tr>                           
                        </tbody>
                    </table>
            </div>
            
            <input type="radio" name="radio" id="radio2">
            <div class="tab2">
                <p>Territorio Turistico, es todo un paraiso natural por sus abismales paisajes, se logra observar y contemplar la preservación de la gran variedad de Fauna silvestre que en este lugar habita, de aqui yacen importantes ríos del país, tambien conocida por ser una zona volcánica y compuesta de parámos que a su vez imponen una belleza unica en la región. <br>
                 </p>
             <section class="sliders">
                 <ul>
                     <li>
                         <img src="../static/DondeIr/purace.png" >
                     </li>
                     <li>
                         <img src="../static/DondeIr/volcan.png">
                     </li>
                     <li>
                         <img src="../static/DondeIr/lagunaSR.png">
                     </li>
                     <li>
                         <img src="../static/DondeIr/termalesC.png">
                     </li>
                     
                 </ul>    
             </section>   
             <table class="table-popayan">
                     <thead>
                     <tr>
                         <th scope="col">Actividad</th>
                         <th colspan="3"></th>
                         <th scope="col">Ubicación</th>
                         <th colspan="3"></th>
                     </tr>
                     </thead>
                     <tbody>
                         <tr>  
                             <td>Parque Nacional Natural Purace</td>
                             <td colspan="3"></td>
                             <td>Purace</td>
                             <td colspan="3"></td>
                         </tr>
                     
                         <tr>
                             <td>Mirador del Condor</td>
                             <td colspan="3"></td>
                             <td> pendiente ubicar</td>
                             <td colspan="3"></td>
                         </tr>
                         <tr>
                             <td>Termales de San Juan</td>
                             <td colspan="3"></td>
                             <td>Purace</td>
                             <td colspan="3"></td>
                         </tr>
                         <tr>    
                             <td>Termales de Coconuco</td>
                             <td colspan="3"></td>
                             <td>Coconuco, Puracé</td>
                             <td colspan="3"></td>
                         </tr>
                         <tr>    
                             <td>Laguna San Rafael</td>
                             <td colspan="3"></td>
                             <td>Purace</td>
                         </tr>           
                        
                     </tbody>
                 </table> <br>
                 <table class="table-popayan">
                     <thead>
                     <tr>
                         <th scope="col">Otras experiencias</th>
                         <th scope="col">Detalle</th>
                     </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td>La Semana Santa</td>
                             <td>Principalmente las procesiones por los distintos lugares de la ciudad con las imagenes representativas</td>
                         </tr>
                         <tr>
                             <td>Congreso Nacional Gastronómico</td>
                             <td>Espacio académico, cultural y representativo de las cocinas tradicionales</td>
                         </tr>                           
                     </tbody>
                 </table> 
            </div>
            
            <input type="radio" name="radio" id="radio3">
            <div class="tab3">
                <p>Comprende los municipios de Inza y Paéz, geograficamente son zonas montañosas toda una naturaleza abundante en todo su explendor, la variedad en sus actividades agropecuarias, artisticas permiten distinguir la región y la preservación 
                    de colecciones antiguas, existe una gran biodiversidad para enseñar al mundo. <br>
                    Que esperas, Ve y disfruta de una naturaleza sana que estos lugares magicos te pueden brindar. </p><br>
             <section class="sliders">
                 <ul>
                     <li>
                         <img src="../static/DondeIr/piramide.png" >
                     </li>
                     <li>
                         <img src="../static/DondeIr/LagunaP1.png">
                     </li>
                     <li>
                         <img src="../static/DondeIr/chorreraq.jpg">
                     </li>
                     <li>
                         <img src="../static/DondeIr/inzap.png">
                     </li>
                     
                 </ul>    
             </section>   
             <table class="table-popayan">
                     <thead>
                     <tr>
                         <th scope="col">Actividad</th>
                         <th colspan="3"></th>
                         <th scope="col">Ubicación</th>
                         <th colspan="3"></th>
                     </tr>
                     </thead>
                     <tbody>
                         <tr>  
                             <td>Subir a la Piramide de Tierradentro</td>
                             <td colspan="3"></td>
                             <td>Inzá</td>
                             <td colspan="3"></td>
                         </tr>
                     
                         <tr>
                             <td>Laguna de Páez</td>
                             <td colspan="3"></td>
                             <td>Pendiente ubicación exacta</td>
                             <td colspan="3"></td>
                         </tr>
                         <tr>
                             <td>Chorrera del Quindao</td>
                             <td colspan="3"></td>
                             <td>Resguardo Huila - Páez</td>
                             <td colspan="3"></td>
                         </tr>
                         <tr>    
                             <td>Visita al Pueblo Belálcazar</td>
                             <td colspan="3"></td>
                             <td>Belalcázar-Páez</td>
                             <td colspan="3"></td>
                         </tr>
                         <tr>    
                             <td>Parque Arqueológico de Tierradentro</td>
                             <td colspan="3"></td>
                             <td>San Andres de Pisimbala - Inzá</td>
                             <td colspan="3"></td>
                         </tr>           
                         <tr>    
                             <td>Termales de Toez</td>
                             <td colspan="3"></td>
                             <td>Resguardo de Toez - Páez</td>
                             <td colspan="3"></td>
                         </tr>
                         <tr>    
                            <td>Laguna de Juan Tama</td>
                            <td>Resguardo de Mosoco - Páez</td>
                        </tr>
                     </tbody>
                 </table> <br>
                 <table class="table-popayan">
                     <thead>
                     <tr>
                         <th scope="col">Otras Experiencias</th>
                         <th scope="col">Detalle</th>
                     </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td>San Pedro</td>
                             <td>El resguardo de Belalcázar se caracteriza por celebrar la Fiesta de San Pedro y Reinado Municipal, actividad cultural, gastronómica y artisticas (entre el 1 de Junio al 3 de Julio)</td>
                         </tr>
                         <tr>
                             <td>Ferias</td>
                             <td>Feria agropecuaria, artesanal, comercial, cultural y turistica, se cuentan con iniciativas y emprendimientos locales de la región, transacciones comerciales y ganaderas. Además del mercado campesino, exposición y concurso de los mejores ejemplares de bovinos y equinos, cabalgata por las principales calles de Belalcázar.
                                Y en las noches de la Feria, todos los paeces y visitantes son invitados a disfrutar de los mejores conciertos</td>
                         </tr>
                         <tr>
                            <td>Expedición Nevado del Huila</td>
                            <td>Belalcazár - Una de las experiencias mas atractivas corresponde a expediciones a la montaña mas vistosa del departamento, cuentan con guias y acompañamiento hasta el regreso.</td>
                        </tr>  
                        <tr>
                            <td>Parapentismo</td>
                            <td>Nuevas experiencias ha producido el territorio de Tierradentro para divisar y conocer las bellezas naturales desde las alturas.</td>
                        </tr>                          
                     </tbody>
                 </table>
                </div>
            
            <input type="radio" name="radio" id="radio4">
            <div class="tab4">
                <p>Región de abundantes zonas montañosas con un clima variado, grandes y asombrosos paisajes que te desconectan y relajan, conservación de elementos y sitios emblematicos del municipio, la calidad humana de sus habitantes hace que te sientas en casa.<br>
                Recorre nuevos destinos, Sotará te espera para nuevas vivencias.</p><br>
                <section class="sliders">
                    <ul>
                        <li>
                            <img src="../static/DondeIr/paramoAsotara.png" >
                        </li>
                        <li>
                            <img src="../static/DondeIr/Molinop.jpg">
                        </li>
                        <li>
                            <img src="../static/DondeIr/SotaraC1.png">
                        </li>
                        <li>
                            <img src="../static/DondeIr/piedraleon.jpg">
                        </li>
                        
                    </ul>    
                </section>   
                <table class="table-popayan">
                        <thead>
                        <tr>
                            <th scope="col">Actividad</th>
                            <th colspan="3"></th>
                            <th scope="col">Ubicación</th>
                            <th colspan="3"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>  
                                <td>Vista Paramo del Arbolito</td>
                                <td colspan="3"></td>
                                <td>Sotará</td>
                                <td colspan="3"></td>
                            </tr>
                        
                            <tr>
                                <td>Visita resguardo Paispamba</td>
                                <td colspan="3"></td>
                                <td>Paispamba - Sotará</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td>Complejo molino del 'sabio' Francisco José de Caldas </td>
                                <td colspan="3"></td>
                                <td>Paispamba - Sotará</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>    
                                <td>Cascada de San Roque</td>
                                <td colspan="3"></td>
                                <td>Sotará</td>
                                <td colspan="3"></td>
                            </tr> 
                            <tr>    
                                <td>Parámo de Vellones</td>
                                <td colspan="3"></td>
                                <td>Sotará</td>
                                <td colspan="3"></td>
                            </tr> 
                            <tr>    
                                <td>caminata</td>
                                <td colspan="3"></td>
                                <td>Vereda Piedra Leon - Sotará</td>
                                <td colspan="3"></td>
                            </tr> 
                            <tr>    
                                <td>Rutas al volcan de Sotará</td>
                                <td colspan="3"></td>
                                <td>Sotará</td>
                                <td colspan="3"></td>
                            </tr>  
                            <tr>    
                                <td>Laguna verde</td>
                                <td colspan="3"></td>
                                <td>paispamba en inmediaciones del Cerro Sombreros- Sotará</td>
                                <td colspan="3"></td>
                            </tr>      
                        </tbody>
                    </table>
            </div>
            <input type="radio" name="radio" id="radio5">
            <div class="tab5">
                <p>Es un bello municipio que sobresale por su belleza natural y con una gran riqueza emblematica, se destaca en todo su explendor lo PARÁMOS, su atractivo natural y clima es unico, la vista hacia los horizontes permiten una paz y tranquilidad interior. <br>
                Permitete conocer estas maravillas de nuestro municipio y de todo el departamento.</p><br>
                    <section class="sliders">
                        <ul>
                            <li>
                                <img src="../static/DondeIr/paramomalvaza.png" >
                            </li>
                            <li>
                                <img src="../static/DondeIr/miradortotoro.png">
                            </li>
                            <li>
                                <img src="../static/DondeIr/malvazamirador.png">
                            </li>
                            <li>
                                <img src="../static/DondeIr/cascadamolino.png">
                            </li>
                            
                        </ul>    
                    </section>   
                    <table class="table-popayan">
                            <thead>
                            <tr>
                                <th scope="col">Actividad</th>
                                <th colspan="3"></th>
                                <th scope="col">Ubicación</th>
                                <th colspan="3"></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>  
                                    <td>visita a la capilla doctrinera de San Antonio de Padua del siglo XVII</td>
                                    <td colspan="3"></td>
                                    <td>Totoró</td>
                                    <td colspan="3"></td>
                                </tr>
                            
                                <tr>
                                    <td>Caminata en el Puente sobre el río Cofre (zona)</td>
                                    <td colspan="3"></td>
                                    <td>Vereda Florencia - Totoró</td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td>Parámo Malvaza</td>
                                    <td colspan="3"></td>
                                    <td>Malvaza - Totoró</td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>    
                                    <td>ciclismo entre Tototó y Gabrielopez </td>
                                    <td colspan="3"></td>
                                    <td>Totoró - Gabrielopez</td>
                                    <td colspan="3"></td>
                                </tr> 
                                <tr>    
                                    <td>Avistamiento del volcán de Puracé</td>
                                    <td colspan="3"></td>
                                    <td>Totoró</td>
                                    <td colspan="3"></td>
                                </tr> 
                                <tr>    
                                    <td>caminata/recorridos zona Paniquita</td>
                                    <td colspan="3"></td>
                                    <td>vereda Paniquita - Totoró</td>
                                    <td colspan="3"></td>
                                </tr>  
                                <tr>    
                                    <td>Cascada el Molino</td>
                                    <td colspan="3"></td>
                                    <td>Totoró</td>
                                    <td colspan="3"></td>
                                </tr>      
                            </tbody>
                        </table>
            </div>
            <input type="radio" name="radio" id="radio6">
            <div class="tab6">
                <p>Es una región que se encuentra conformada por resguardos indigenas, grandes zonas montañosas, la variedad en el ecosistema muestra las maravillas que se pueden encontrar en este sitio, su ubicación geográfica es muy llamativa, se convierte en un destino que permite tener recuerdos agradables por sus perfectas vistas, la calidez humana de sus habitantes hacen que quieras regresar. <br>
                Descubre las maravillas de este lugar, llena de paz tu espiritu.</p><br>
                        <section class="sliders">
                            <ul>
                                <li>
                                    <img src="../static/DondeIr/Chiquinquirasilvia.png" >
                                </li>
                                <li>
                                    <img src="../static/DondeIr/jardinbotanico.png">
                                </li>
                                <li>
                                    <img src="../static/DondeIr/lagotejar1.png">
                                </li>
                                <li>
                                    <img src="../static/DondeIr/miradorsilvia.png">
                                </li>
                                
                            </ul>    
                        </section>   
                        <table class="table-popayan">
                                <thead>
                                <tr>
                                    <th scope="col">Actividad</th>
                                    <th colspan="3"></th>
                                    <th scope="col">Ubicación</th>
                                    <th colspan="3"></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>  
                                        <td>Caminata alrededor del lago Chiman</td>
                                        <td colspan="3"></td>
                                        <td>Silvia</td>
                                        <td colspan="3"></td>
                                    </tr>
                                
                                    <tr>
                                        <td>Conoce historias desde Molino Dorado Café</td>
                                        <td colspan="3"></td>
                                        <td>Cra. 3 #13-69, Silvia, Cauca</td>
                                        <td colspan="3"></td>
                                    </tr>
                                    <tr>
                                        <td>Recorrido Parque principal</td>
                                        <td colspan="3"></td>
                                        <td>Cra. 2, Silvia</td>
                                        <td colspan="3"></td>
                                    </tr>
                                    <tr>
                                        <td>Disfruta de la vista completa de la región desde GRANJA El MIRADOR</td>
                                        <td colspan="3"></td>
                                        <td>Resguardo Guambia a 13 min del pueblo de Silvia en vehiculo</td>
                                        <td colspan="3"></td>
                                    </tr>
                                    <tr>
                                        <td>Recorrido en lancha por el lago El Tejar</td>
                                        <td colspan="3"></td>
                                        <td>Vereda el Tejar a 5 a 10 min pueblo Silvia</td>
                                        <td colspan="3"></td>
                                    </tr> 
                                    <tr>    
                                        <td>Disfrutar del Jardin botánico</td>
                                        <td colspan="3"></td>
                                        <td>Territorio Misak, San Fernando</td>
                                        <td colspan="3"></td>
                                    </tr> 
                                    <tr>
                                        <td>Laguna Margarital</td>
                                        <td colspan="3"></td>
                                        <td>a 12 min del pueblo de Silvia vehiculo</td>
                                        <td colspan="3"></td> 
                                    </tr>      
                                </tbody>
                        </table><br>
                                <table class="table-popayan">
                                    <thead>
                                    <tr>
                                        <th scope="col">Otras experiencias</th>
                                        <th scope="col">Detalle</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Feria el MIRADOR</td>
                                            <td>Resguardo de Guambia, inicia su primera edición 2023 actividad agropecuaria, artesanal, Gastronómico y cultural (Julio 2)</td>
                                            <td colspan="2"></td> 
                                        </tr>
                                        <tr>
                                            <td>Visitar la Parroquia de Nuestra Señora de Chiquinquira </td>
                                            <td>Espacio  religioso en una perfecta estructura</td>
                                        </tr>  
                                        <tr>
                                            <td>Espacios para acampar</td>
                                            <td>Escenarios de Camping para disfrutar de un maravilloso amanecer y permitirse una conexión con la naturaleza.</td>
                                        </tr>  
                                        <tr>
                                            <td>Consurso de Bandas fiesteras</td>
                                            <td>Espacio cultural que se lleva acababo en el 2023 su VII version del Concurso de Bandas Fiesteras Victor Luis fernandez (12 al 13 Agosto)</td>
                                        </tr>
                                        <tr>
                                            <td>Carnaval de Silvia - Fiesta de Colores</td>
                                            <td>Festividad llena de folclor y tradición (5 al 9 Enero)</td>
                                        </tr>                          
                                    </tbody>
                                </table> 
                            </table>
            </div>
        </div>
    </div>
{% endblock %}
