{% extends '../mainapp/index.html' %}

{% block content %}	
<link rel="stylesheet" href="../../static/main.css">
    <div class="galeria">

        <div class="linea"></div>
        <div class="contenedor-imagenes">
            <div class="imagen">
                <img src="../static/Galeria/puraceparque.jpg" alt="">
                <div class="overlay">
                    <h2>Parque Nacional Natural Puracé</h2>
                </div>
            </div>
            <div class="imagen">
                <img src="../static/Galeria/tierradentroP.png" alt="">
                <div class="overlay">
                    <h2>Parque Arqueológico de Tierradentro</h2>
                </div>
            </div>
            <div class="imagen">
                <img src="../static/Galeria/popayanM.jpg" alt="">
                <div class="overlay">
                    <h2>Popayán-Museo Casa Mosquera</h2>
                </div>
            </div>
            <div class="imagen">
                <img src="../static/Galeria/puraceavis.png" alt="">
                <div class="overlay">
                    <h2>Mirador del condor</h2>
                </div>
            </div>
            <div class="imagen">
                <img src="../static/Galeria/tierradentroP3.png" alt="">
                <div class="overlay">
                    <h2>Tierradentro Paez - Chorrera quindao</h2>
                </div>
            </div>
            <div class="imagen">
                <img src="../static/Galeria/silvia1.png" alt="">
                <div class="overlay">
                    <h2>Silvia</h2>
                </div>
            </div>
            <div class="imagen">
                <img src="../static/Galeria/sanroque1.png" alt="">
                <div class="overlay">
                    <h2>Laguna San Roque - Sotará</h2>
                </div>
            </div>
            <div class="imagen">
                <img src="../static/Galeria/inzap.png" alt="">
                <div class="overlay">
                    <h2>Piramide de San Francisco - Inza</h2>
                </div>
            </div>
            <div class="imagen">
                <img src="../static/Galeria/lagunap.jpg" alt="">
                <div class="overlay">
                    <h2>Laguna de Paéz - Tierradentro</h2>
                </div>
            </div>
            <!-- <div class="imagen">
                <img src="img/1 (2).jpg" alt="">
            </div> -->
        </div>
    </div>
{% endblock %}        